# ==========================================
# 1. Keil MDK 编译垃圾与个人配置
# ==========================================
Objects/
Listings/
DebugConfig/
*.uvoptx        # Keil 用户个人调试配置（每台电脑不同，必须忽略）
*.uvguix.* # Keil 窗口布局文件
*.scvd

# ==========================================
# 2. e2 studio (Eclipse) 临时文件
# ==========================================
.metadata/
.settings/
Debug/
Release/

# ==========================================
# 3. 编译产生的各种中间件与产物
# ==========================================
*.o
*.d
*.crf
*.axf
*.map
*.htm
*.sct
*.dep
*.bak
*.hex
*.bin
*.elf
*.siz
*.cref
*.srec